@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgb(138, 96, 96);
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header >  p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

.sec {
    background-color: white;
    color: black;
}

.sec2 {
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.558);
}

.sec2 > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.252);
    padding: 8px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.568);
}
#div {
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#div01 {
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
